<!--The content below is only a placeholder and can be replaced.-->

<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Inicio</a>

  <div class="dropdown">
      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Componentes
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/fruta']" routerLinkActive="router-link-active" >Frutas</a>
        <a class="dropdown-item" [routerLink]="['/alumnos']" routerLinkActive="router-link-active" >Alumnos</a>
        <a class="dropdown-item" [routerLink]="['/videojuego-detalle']" routerLinkActive="router-link-active" >Videojuegos</a>
        <a class="dropdown-item" [routerLink]="['/personas']" routerLinkActive="router-link-active" >Personas</a>
      </div>
  </div>
  
  <div class="dropdown">
      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Documentación
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/flujo']" routerLinkActive="router-link-active" >Flujo Información</a>
        <a class="dropdown-item" [routerLink]="['/pipe']" routerLinkActive="router-link-active" >Pipes</a>
      </div>
  </div>
</nav>


<router-outlet></router-outlet>
