* {
    margin: 0;
}
b, ul, li {
    margin: 0;
}

header 

nav a {
    text-align: left;
}
h1 {
    color: red;
}

.router-link-active {
    border-left: 5px solid #0000FF;
}

.dropdown {
    background-color: #FFF !important;
}

