/* You can add global styles to this file, and also import other style files */
body {
    margin: px;
}
app-fruta {
    font-size: 16px;
    display: block;
    border: 1px solid #FF0000;
    width: 45%;
}

app-alumnos {
    width: 45%;
}